@layer reset, base, components, utilities;
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body,
  h1,
  h2,
  p,
  figure {
    margin: 0;
  }
}
form p {
  margin-block: 0.5rem 1rem;
} /*where has zero specificity   */
:where(nav ul li) a {
  color: rgb(209, 46, 209);
}
.nav-link {
  color: rgb(19, 28, 86);
}
a[aria-current="location"] {
  color: rgb(35, 51, 159);
}
@layer base {
  :root {
    color-scheme: light dark;

    --space: 1rem;

    --color-bg: light-dark(
      oklch(57.472% 0.16905 257.655),
      oklch(85.385% 0.07345 224.336)
    );

    --color-text: light-dark(
      oklch(22.999% 0.07296 255.913),
      oklch(24.921% 0.07247 255.372)
    );

    --color-accent: light-dark(
      oklch(24.158% 0.05725 254.361),
      oklch(75% 0.12 255)
    );

    --color-surface: color-mix(
      in oklch,
      var(--color-bg) 92%,
      var(--color-accent)
    );

    --color-border: color-mix(in oklch, var(--color-text) 55%, var(--color-bg));
  }
  body {
    font-family: system-ui, sans-serif;

    line-height: 1.5;

    color: var(--color-text);

    background: var(--color-bg);

    padding: var(--space);

    min-height: 100vh;

    display: grid;

    place-items: center;
  }

  input,
  textarea,
  button {
    font: inherit;
  }
}
#schedule {
  margin-block-start: 1rem;

  margin-block-end: 2.5rem;
}

table {
  width: 100%;

  border-collapse: separate;

  border-spacing: 0;

  border: 2px solid var(--color-border);

  border-radius: 0.3rem;

  overflow: hidden;

  background: var(--color-bg);
}

th,
td {
  text-align: left;

  padding: 0.9rem;

  border-bottom: 1px solid var(--color-border);
}

th {
  background: color-mix(in oklch, var(--color-accent) 10%, var(--color-bg));

  font-weight: 700;
}

tr:last-child td {
  border-bottom: none;
}

figcaption {
  margin-block-start: 1rem;

  font-size: 0.75rem;
}
form p {
  margin-block: 0.5rem 1rem;
}

label {
  display: block;

  margin-block-end: 0.35rem;

  font-size: 0.8rem;
}

input {
  width: 100%;

  padding: 0.8rem;

  border: 2px solid var(--color-border);

  border-radius: 0.3rem;

  color: var(--color-text);

  background: var(--color-bg);
}

input:focus {
  outline: 3px solid color-mix(in oklch, var(--color-accent) 30%, transparent);

  border-color: var(--color-accent);
}

button {
  display: block;

  margin-block-start: 2rem;

  padding: 0.8rem 2.5rem;

  border: none;

  border-radius: 0.4rem;

  color: var(--color-bg);

  background: var(--color-accent);

  cursor: pointer;
}

button:hover {
  background: color-mix(in oklch, var(--color-accent), black 15%);
}

button:focus-visible {
  outline: 3px solid var(--color-accent);

  outline-offset: 3px;
}
svg {
  color: var(--color-accent);
}

@layer utilities {
  .text-muted {
    color: color-mix(in oklch, var(--color-text) 55%, var(--color-bg));

    font-size: 0.75rem;
  }
}
